<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>BirdWatchr</title>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
</head>
<body>
  <h1>Spotted a bird?</h1>
  <form method="POST" action="/sightings">
    <input type="text" name="bird_name" placeholder="Bird Name">
    <input type="date" name="sighting_date">
    <input type="text" name="location" placeholder="Location">
    <input type="submit" value="Create" id="submit">
  </form>
</body>
</html>

